@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
    /* prevent adding extra width to the page */
    box-sizing: border-box; 
}
body{
    background-color: whitesmoke;
    margin: 0;
    /* vh = viewport height */
    min-height: 100vh;
    font-family: 'Bebas Neue', cursive;
    
}
h1{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: 5px;

}
/* loader */
.loader{
    position: fixed;
    top : 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
}
.loader img{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
/* Image Container */

.image-container{

    margin: 10px 25%;

}
/* Target the child tag img in image-container class */
.image-container img{
    width: 100%;
    margin-top: 5px;

}

/* Media Query : Large Smartphones */

@media screen and (max-width: 600px){
    h1{
        font-size: 20px;
    }

    .image-container{
        margin : 10px;
    }
}